.game-border {
  width: 15vw;
  height: 15vw;
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background-image: url('../../assets/images/icon_idle.png');
  background-size: contain;
  background-clip: padding-box;
  margin: 1rem;
}

.game-border::after {
  position: absolute;
  top: -4px; bottom: -4px;
  left: -4px; right: -4px;
  background: radial-gradient(
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
  content: '';
  z-index: -1;
  border-radius: 16px;
}

.img-jackpot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.standard-text {
  background-image: linear-gradient(180deg, #f3ec78, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Frutiger', sans-serif;
}

.jackpot-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dollar {
  @extend .standard-text;
  font-size: 0.8vw;
}

.jackpot-value {
  @extend .standard-text;
  font-size: 1.3vw;
}